@{
    Layout = "_Layout";
}
<body>
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Datos Personales</a></li>
            <li class="breadcrumb-item"><a>SOBRE Calendario</a></li>
        </ol>
    </nav>
<div class="row justify-content-around">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="row pb-3">
      <div class="col-md-12 pl-0 pr-0">
        <div class="input-group input-group-sm mb-6">
          <div class="input-group-prepend">
            <label class="input-group-text bg-info text-white" for="inputGroupSelect01">Id</label>
          </div>
          <input class="form-control" type="text" id="id" placeholder="Id" value="@Model.Id" />
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-md-12 pl-0 pr-0">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <label class="input-group-text bg-info text-white" for="inputGroupSelect01">Tipo Documento</label>
          </div>
          <input class="form-control" type="text" id="tipeDoc" placeholder="Tipo Documento" value="@Model.TipeDoc" />
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-md-12 pl-0 pr-0">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <label class="input-group-text bg-info text-white" for="inputGroupSelect01">DNI</label>
          </div>
          <input class="form-control" type="text" id="dni" placeholder="Dni" value="@Model.Dni" />
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-md-12 pl-0 pr-0">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <label class="input-group-text bg-info text-white" for="inputGroupSelect01">Nombre</label>
          </div>
          <input class="form-control" type="text" id="nombre" placeholder="Nombre" value="@Model.Name" />
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-md-12 pl-0 pr-0">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <label class="input-group-text bg-info text-white" for="inputGroupSelect01">Apellido</label>
          </div>
          <input class="form-control" type="text" id="apellido" placeholder="Apellido" value="@Model.LastNname" />
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-md-12 pl-0 pr-0">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <label class="input-group-text bg-info text-white" for="inputGroupSelect01">Nacimiento</label>
          </div>
          <input class="form-control" type="text" id="especialidad" placeholder="Especialidad"
            value="@Model.Birth"/>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-md-12 pl-0 pr-0">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <label class="input-group-text bg-info text-white" for="inputGroupSelect01">Sexo</label>
          </div>
          <input class="form-control" type="text" id="especialidad" placeholder="Especialidad"
            value="@Model.Sex"/>
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-md-12 pl-0 pr-0">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend">
            <label class="input-group-text bg-info text-white" for="inputGroupSelect01">ObraSocial</label>
          </div>
          <input class="form-control" type="text" id="matricula" placeholder="Matricula" value="@Model.MedicalSecurity" />
        </div>
      </div>
    </div>
  </div>
</div>

<button id="" type="button" class="btn btn-sm btn-success btn-block"
                                onclick="CargaP()"><i class="fa fa-plus" aria-hidden="true"></i> Cargar
                                Profesinal</button>
<script>
    function CargaProfesional() {
        window.location = urlContent + "Profesional/CreateProfesional";
    }
</script>
</body>